.testimonials-container {
  background: #000;
  height: 100%;
  padding-bottom: 50px;
}

.testimonials-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonials-box {
  width: 500px;
  box-shadow: 2px 2px 30px rba(0, 0, 0, 0.1);
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-right: 20px;
  text-align: center;
}

.profile-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
}

.name-username {
  display: flex;
  flex-direction: column;
}

.name-username strong {
  color: rgb(2, 248, 56);
  font-size: 14px;
  font-weight: 500;
}

.name-username small {
  color: #ddd;
  font-size: 10px;
}

.reviews {
  color: gold;
}

.box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clienst-comments {
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  color: #ddd;
  text-align: center;
}

/*?-----------------Mobile Responsive-----------------*/
@media (max-width: 768px) {
  .testimonials-box {
    width: 350px;
  }

  .profile-image {
    width: 60px;
    height: 50px;
  }

  .name-username strong {
    font-size: 14px;
    font-weight: 800;
  }

  .name-username small {
    font-size: 8px;
  }

  .clienst-comments p {
    font-size: 10px;
  }

  .reviews {
    font-size: 12px;
  }
}
